body {
  font-family: Roboto;
  background: #00b300;
}
#container {
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
h1 {
  background: #003300;
  color: white;
  margin: 0;
  padding: 10px 100px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
p {
  padding-left: 20px;
}
form input[type="text"]{
  width: 90px;
}
input {
  padding-left: 20px;
}
#billamt {
  font-size: 14px;
  color: #green;
  background-color: #f7f7f7;
  width: 60%;
  padding: 5px 5px 8px 8px;
}
#billamt:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}
#peopleamt {
  width: 60%;
  padding: 5px 5px 8px 8px;
  margin-left: 20px;
  color: #green;
  background-color: #f7f7f7;
  font-size: 14px;
}
.dollarSing {
  display: inline;
}
#serviceQual {
  padding: 10px 10px 17px 17px;
  margin-left: 5px;
  font-size: 20px;
}
button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #009999;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
}
button:hover {
  background: #00cc99;
  border-bottom-color: #111;
}
button:active {
  position: relative;
  top: 1px;
}
#totalTip {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}
#totalTip:before {
  content: "Tip amount";
  font-size: 15px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}
#totalTip sup {
  font-size: 15px;
  top: -18px;
}
#totalTip small {
  font-size: 15px;
  font-weight: bold;
  display: block;
}
